
@tailwind base;
@tailwind components;
@tailwind utilities;



.hover-white-shadow {
  box-shadow: -16px -16px 40px 0px #FDFFFFCC;
}



.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}